In [ ]:
import pandas as pd
df = pd.read_csv("../data/salaries_by_college_major.csv")
clean_df = df.dropna()

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [ ]:
clean_df.loc[(clean_df['Mid-Career Median Salary'].idxmax())]

Which college major has the lowest starting salary and how much do graduates earn after university?

In [ ]:
clean_df.loc[(clean_df['Starting Median Salary'].idxmin())]

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [ ]:
clean_df.loc[(clean_df['Mid-Career Median Salary'].idxmin())]

Calculating Spread

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

Sort by Lowest Spread

In [ ]:
clean_df.sort_values('Spread')[['Undergraduate Major', 'Spread']].head()

Find the top 5 degrees with the highest values in the 90th percentile.

In [ ]:
clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending = False)[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

Find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [ ]:
clean_df.sort_values('Spread', ascending = False)[['Undergraduate Major', 'Spread']].head()

How many majors in each category?

In [37]:
pd.options.display.float_format = '{:,.0f}'.format
clean_df.groupby('Group').mean(numeric_only=True)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958","44,633","75,083","43,567","147,525"
HASS,"95,218","37,186","62,968","34,145","129,364"
STEM,"101,600","53,862","90,812","56,025","157,625"